app/.idea
app/app.iml
.credentials
transactor/config/dev-transactor.properties
.vagrant/*
/dev.sh
/transactor/data/hornet/server.lock
/app/log/*
/applic/.idea/*
/applic/applic.iml
/applic/.lein-env
/app/applic.iml
/app/.lein-env
