{:ccpeople2/schema1
 {:txes [[{:db/id                 #db/id [:db.part/db]
           :db/ident              :user/id
           :db/valueType          :db.type/uuid
           :db/cardinality        :db.cardinality/one
           :db/unique             :db.unique/value
           :db/index              true
           :db.install/_attribute :db.part/db
           :db/doc                "The global ID of a user."}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :user/display-name
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db
           :db/doc                "The first name and last name of a user."}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :user/email
           :db/index              true
           :db/unique             :db.unique/value
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db
           :db/doc                "The lastname of a user."}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :user/google-id
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db/unique             :db.unique/value
           :db.install/_attribute :db.part/db
           :db/index              true
           :db/doc                "The lastname of a user."}
          ]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :partition/people
           :db.install/_partition :db.part/db}]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :worklog/id
           :db/valueType          :db.type/long
           :db/cardinality        :db.cardinality/one
           :db/unique             :db.unique/identity
           :db/index              true
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :worklog/description
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db/fulltext           true
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :worklog/hours
           :db/valueType          :db.type/double
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          ]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :user/jira-username
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db
           :db/unique             :db.unique/identity}]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :worklog/user
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :worklog/work-date
           :db/valueType          :db.type/instant
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket/id
           :db/unique             :db.unique/identity
           :db/valueType          :db.type/long
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket/key
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket/title
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket/customer
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :customer/id
           :db/valueType          :db.type/long
           :db/unique             :db.unique/identity
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :customer/name
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          ;; ticket type enum
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket.type/quote}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket.type/admin}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket.type/quote-item}

          ;; invoicing enum
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :invoicing/time-monthly}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :invoicing/not-billable}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :invoicing/fixed-price}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :invoicing/individual-by-contract}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :invoicing/support}

          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket/invoicing
           ;; we are referencing the enum constants, which are entities themselves
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket/type
           ;; we are referencing the enum constants, which are entities themselves
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :worklog/ticket
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :ticket/daily-rate
           :db/valueType          :db.type/double
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          ]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :user/start-date
           :db/valueType          :db.type/instant
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :invoicing/already-paid}]
         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :invoicing/user-help-desk}]

         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :team/id
           :db/valueType          :db.type/long
           :db/unique             :db.unique/identity
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :team/name
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :user/team
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}]

         [{:db/id                 #db/id [:db.part/db]
           :db/ident              :user/membership
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/many
           :db/isComponent        true
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :membership/id
           :db/valueType          :db.type/string
           :db/cardinality        :db.cardinality/one
           :db/unique             :db.unique/identity
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :membership/team
           :db/valueType          :db.type/ref
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :membership/start-date
           :db/valueType          :db.type/instant
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :membership/end-date
           :db/valueType          :db.type/instant
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}
          {:db/id                 #db/id [:db.part/db]
           :db/ident              :membership/availability
           :db/valueType          :db.type/double
           :db/cardinality        :db.cardinality/one
           :db.install/_attribute :db.part/db}]
         ]}}
