
.icon-mail:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-star-half:before { content: '\e805'; } /* '' */
.icon-star-half-alt:before { content: '\e806'; } /* '' */
.icon-th-large:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-minus:before { content: '\e80b'; } /* '' */
.icon-help:before { content: '\e80c'; } /* '' */
.icon-info:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-lock:before { content: '\e80f'; } /* '' */
.icon-lock-open-alt:before { content: '\e810'; } /* '' */
.icon-flag-checkered:before { content: '\e811'; } /* '' */
.icon-bell:before { content: '\e812'; } /* '' */
.icon-bell-alt:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icon-trash-empty:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\e816'; } /* '' */
.icon-cog:before { content: '\e817'; } /* '' */
.icon-calendar:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */
.icon-award:before { content: '\e81b'; } /* '' */
.icon-globe:before { content: '\e81c'; } /* '' */
.icon-flight:before { content: '\e81d'; } /* '' */
.icon-leaf:before { content: '\e81e'; } /* '' */
.icon-off:before { content: '\e81f'; } /* '' */
.icon-toggle-off:before { content: '\e820'; } /* '' */
.icon-toggle-on:before { content: '\e821'; } /* '' */
.icon-bicycle:before { content: '\e822'; } /* '' */
.icon-gauge:before { content: '\e823'; } /* '' */
.icon-medkit:before { content: '\e824'; } /* '' */
.icon-smile:before { content: '\e825'; } /* '' */
.icon-frown:before { content: '\e826'; } /* '' */
.icon-meh:before { content: '\e827'; } /* '' */
.icon-graduation-cap:before { content: '\e828'; } /* '' */
.icon-tree:before { content: '\e829'; } /* '' */
.icon-birthday:before { content: '\e82a'; } /* '' */
.icon-diamond:before { content: '\e82b'; } /* '' */