@font-face {
    font-family: dashboardFontello;
    src: url(font/fontello.woff);
}

i {
    font-family: dashboardFontello;
}

[class^="large-icon"]:before, [class*=" large-icon"]:before {
    font-size: 1.6em
}

#logout {
    cursor: pointer;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    margin-left: 0.255em}

.circle {
    border-radius: 50%;
    background: black;
    width: 25px;
    height: 25px;
    line-height: 23px;
    vertical-align: middle;
    text-align: center;
    color: white;
    display: inline-block;
}

.error-page body,
.welcome body {
    background: #f3f3f3;
}

.error-page h1 {
    margin: 15% 0 0 0;
    text-align: center;
    font-size: 42px;
    color: #900;
}

.error-page h2 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #333;
}

.welcome h2 {
    margin: 10% 0 12px 0;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #555;
}

.welcome h1 {
    margin: 0;
    text-align: center;
    font-size: 42px;
    color: #009;
}

.welcome .duct {
    color: #000;
    font-weight: bold;
}

ul {
  list-style-type: none;
}

body {
    margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}

a.button {
    text-decoration: none;
    color: initial;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}

#navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    background: #f3f3f3;
}

#navbar span {
    flex-basis: 50%;
}

#menu ul {
    list-style-type:none;
    width: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
}

#menu li {
    position: relative;
}

#menu li a {
    display:block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #626161;
    background: #f3f3f3;
    text-decoration: none;
}

input[type=checkbox]#show-menu {
    display: none;
}

input[type=checkbox]#show-menu:checked ~ #menu ul {
    display: block;
}

.show-menu {
    color: #626161;
    text-align: center;
    padding: 10px 0;
    display: none;
    width: 50px;
}

#banner {
    text-align: center;
}

#banner a {
    text-decoration: none;
    color: #626161;
    line-height: 50px;
    font-size: 1.3em;
}

@media screen and (max-width : 760px){
    #navbar {
        display: block;
    }

	#menu ul {
		display: none;
		width: 100%;
	}

	#menu ul li {
		width: 100%;
	    border-top: 1px solid #e9e8e8;
	}

	#menu ul li:last-child {
	    border-bottom: 1px solid #e9e8e8;
	}

	.show-menu {
		display:block;
        float: right;
	}

    #banner {
        padding: 0 10px;
    }
}

@media screen and (min-width : 760px) {
    #menu ul li {
        float:left;
        left: 50%;
        margin: 0 20px;
   }
}

.div-link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}
