---
env:
  JIRA_TEMPO: "replaceMe"
  JIRA_BASE_URL: "replaceMe"
  JIRA_CONSUMER_PRIVATE_KEY: "replaceMe"
  JIRA_ACCESS_TOKEN: "replaceMe"
  DATOMIC_USER: "replaceMe"
  DATOMIC_PASSWORD: "replaceMe"
  DATOMIC_POSTGRES_PASSWORD: "datomic"
  DATOMIC_LICENSE_KEY: "replaceMe"
  CCARTUSER: "replaceMe"
  CCARTPASS: "replaceMe"
  APP_HOSTNAME: "https://localhost:9090"
  JWS_TOKEN_SECRET: "supersecrettokensecret"
