---
env:
  JIRA_TEMPO: "replaceMe"
  JIRA_BASE_URL: "replaceMe"
  JIRA_CONSUMER_PRIVATE_KEY: "replaceMe"
  JIRA_ACCESS_TOKEN: "replaceMe"
  DATOMIC_USER: "replaceMe"
  DATOMIC_PASSWORD: "replaceMe"
  DATOMIC_POSTGRES_PASSWORD: "datomic"
  DATOMIC_LICENSE_KEY: "replaceMe"
  APP_HOSTNAME: "http://localhost:8000"
  JWS_TOKEN_SECRET: "supersecrettokensecret"
